<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" />
</head>
<body>
	<form method="POST">
		<input pattern="[1-2]{0,1}[0-9]{1}" name="nodes" placeholder="число вершин (до 29)">
		<input pattern="[0-9]{1-3}" name="edges" placeholder="число ребер">
		<input pattern="[0-9]{1, 3}" name="seed" placeholder="параметр генерации">
		<button autofocus="true">{{state}}</button>
	</form>
	<p>
		<img src={{ url_for('static', filename=picture) }}>
		
	</p>
</body>
</html>